@media all and (max-width: 480px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav {
        flex-grow: 1;
        border-top: 2px solid black;
    }

    header h1 {
        font-size: 32px;
        margin: 0px;
    }

    nav ul {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    nav ul li {
        margin: 3px 2px;
    }

    .stealthable {
        flex-basis: 100%;
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 10px 0px;
    }
}

@media all and (max-width: 1024px) {
    header {
        flex-wrap: wrap;
    }

    header nav {
        flex-grow: 1;
        border-top: 2px solid black;
    }

    header h1 {
        font-size: 32px;
        margin: 0px;
    }

    nav ul {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    nav ul li {
        margin: 3px 2px;
    }

    .stealthable {
        flex-basis: 100%;
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 10px 0px;
    }
}